*.RData
*.Rhistory
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/8D19B798
*.pper
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/4B4D83D6
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/5ED3FCBE
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/6294DAE1
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/8F397F2B
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/AF39257D
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/B8244845
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/BE6AC772
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/E34E4B37
gettingcleanningdata/project/.Rproj.user/F232BE8/sdb/prop/INDEX